.Home h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-decoration: underline;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  }
 